In [1]:
import pandas as pd
import numpy as np
from bids.modeling import BIDSStatsModelsGraph
from bids.layout import BIDSLayout
from bids.tests import get_test_data_path
from os.path import join
import json

In [2]:
bids_dir = "/scratch/ttan/ScanD_pipelines_scc/data/local/bids/"
derivatives_dir = "/scratch/ttan/ScanD_pipelines_scc/data/local/derivatives/fmriprep"
layout = BIDSLayout(bids_dir, derivatives=derivatives_dir, validate=False)
json_path = "/projects/ttan/SCanD_project/code/glm/examples/models/RTMSWM/model-003_smdl.json"
specs = json.load(open(json_path,'r'))
specs

{'Name': 'RTMSWM_model001',
 'BIDSModelVersion': '1.0.0',
 'Description': 'RTMSWM first BIDS model: a simple 2-condition block contrast.',
 'Input': {'subject': ['CMHWM030', 'CMHWM033'],
  'task': ['nbk'],
  'session': ['01']},
 'Nodes': [{'Level': 'Run',
   'Name': 'run_level',
   'GroupBy': ['run', 'subject'],
   'Model': {'X': ['threebackblock', 'onebackblock'], 'Type': 'glm'},
   'Contrasts': [{'Name': 'threebackblockkminusonebackblock',
     'ConditionList': ['threebackblock', 'onebackblock'],
     'Weights': [1, -1],
     'Test': 't'},
    {'Name': 'onebackblock',
     'ConditionList': ['onebackblock'],
     'Weights': [1],
     'Test': 't'},
    {'Name': 'threebackblock',
     'ConditionList': ['threebackblock'],
     'Weights': [1],
     'Test': 't'}]}]}

In [3]:
layout = BIDSLayout(bids_dir, validate=False)

In [4]:
graph = BIDSStatsModelsGraph(layout, specs)

In [5]:
graph

In [21]:
graph.load_collections()

/home/ttan/.pyenv/versions/3.10.7/envs/SCanD_env-3.10.7/lib/python3.10/site-packages/bids/variables/io.py:276: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  _data = _data.apply(pd.to_numeric, errors='ignore')
/home/ttan/.pyenv/versions/3.10.7/envs/SCanD_env-3.10.7/lib/python3.10/site-packages/bids/variables/io.py:276: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  _data = _data.apply(pd.to_numeric, errors='ignore')

In [22]:
# Equivalent to calling graph.get_node('run') in this case.
root_node = graph.root_node

In [23]:
root_node

In [24]:
colls = root_node.get_collections()

In [28]:
colls[0].to_df()

/home/ttan/.pyenv/versions/3.10.7/envs/SCanD_env-3.10.7/lib/python3.10/site-packages/bids/variables/collections.py:181: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.reset_index().replace("n/a", fillna)

,duration,run,subject,session,onset,block,correct_response,participant_response,response_time,trial_type,suffix,datatype,task
0,0,1,CMHWM030,01,7.000,1,0.0,0.0,0.0,oneback,bold,func,nbk
1,0,1,CMHWM030,01,10.009,1,0.0,0.0,0.0,oneback,bold,func,nbk
2,0,1,CMHWM030,01,13.018,1,1.0,0.0,0.0,oneback,bold,func,nbk
3,0,1,CMHWM030,01,16.027,1,0.0,0.0,0.0,oneback,bold,func,nbk
4,0,1,CMHWM030,01,19.036,1,0.0,0.0,0.0,oneback,bold,func,nbk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,60,1,CMHWM030,01,402.938,3,NaN,NaN,NaN,threebackblock,bold,func,nbk
206,60,1,CMHWM030,01,500.130,4,NaN,NaN,NaN,onebackblock,bold,func,nbk
207,60,1,CMHWM030,01,567.315,4,NaN,NaN,NaN,threebackblock,bold,func,nbk
208,60,1,CMHWM030,01,664.506,5,NaN,NaN,NaN,onebackblock,bold,func,nbk
209,60,1,CMHWM030,01,731.691,5,NaN,NaN,NaN,threebackblock,bold,func,nbk

In [29]:
sub_df = colls[0].to_df(entities=False)

/home/ttan/.pyenv/versions/3.10.7/envs/SCanD_env-3.10.7/lib/python3.10/site-packages/bids/variables/collections.py:181: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.reset_index().replace("n/a", fillna)

In [41]:
sub_df[:200]

,duration,onset,block,correct_response,participant_response,response_time,trial_type
0,0,7.000,1,0.0,0.0,0.0,oneback
1,0,10.009,1,0.0,0.0,0.0,oneback
2,0,13.018,1,1.0,0.0,0.0,oneback
3,0,16.027,1,0.0,0.0,0.0,oneback
4,0,19.036,1,0.0,0.0,0.0,oneback
...,...,...,...,...,...,...,...
195,0,776.827,5,0.0,0.0,0.0,threeback
196,0,779.836,5,0.0,0.0,0.0,threeback
197,0,782.845,5,0.0,0.0,0.0,threeback
198,0,785.854,5,1.0,0.0,0.0,threeback
199,0,788.863,5,0.0,0.0,0.0,threeback

In [13]:
[col for col in sub_df.columns if 'trial_type' in col]

['trial_type']

In [14]:
outputs = root_node.run(group_by=['run', 'subject'], force_dense=False, transformation_history=True)

The current inputs dataframe: []

TypeError: reduce() of empty iterable with no initial value

In [ ]:
root_node.run(group_by=None)